.play-video {
  position: sticky;
    background-color: black;
    height: 85vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

.play-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .play-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    .play-video {
      background: url('https://www.youtube.com/watch?v=1lEt-5WC7nk') black no-repeat center center scroll;
    }
    .play-video video {
      display: none;
    }
  }