{% extends "home.html" %}
{% block content %}
{% for content in blog %}
<section class="breadcrumbs">
  <div class="container widthadjust">

    <ol>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'blogs' %}">Blog</a></li>
    </ol>
    <h2>{{content.title}}</h2>

  </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
  <div class="container widthadjust">

    <div class="row">
      <div class="col-lg-8 entries">
        
        <article class="entry entry-single">

          <div class='text-center'>
            <img src="{{content.blogimage.url}}" alt="{{content.link}}" class="img-fluid">
          </div>

          <h2 class="entry-title">
            {{content.title}}
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i>{{content.author}}</li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i></time>{{content.published}}</time></a></li>
              <!-- <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> -->
            </ul>
          </div>
          

          <div class="entry-content">
            {{content.description | safe}}
            {% if img in content %}
            <div class="text-center">
              <h4>Yes</h4>
            </div>
            {% endif %}

            <blockquote>
              <i class="icofont-quote-left quote-left"></i>
              <p>
                Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
              </p>
              <i class="las la-quote-right quote-right"></i>
              <i class="icofont-quote-right quote-right"></i>
            </blockquote>    

          </div>
          
          <div class="entry-footer clearfix">
            <div class="float-left">
              <i class="icofont-folder"></i>
              <ul class="cats">
                <li><a href="#">{{content.category}}</a></li>
              </ul>

              <i class="icofont-tags"></i>
              <ul class="tags">
                <li><a href="#">Creative</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>
            </div>

            <div class="float-right share">
              <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
              <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
              <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
            </div>

          </div>

        </article><!-- End blog entry -->
        {% endfor %}
        <div class="blog-author clearfix">
          <img src="assets/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
          <h4>Jane Smith</h4>
          <div class="social-links">
            <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
            <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
            <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a>
          </div>
          <p>
            Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
          </p>
        </div><!-- End blog author bio -->

        <div class="blog-comments">

          <div class="reply-form">
            <h4>Leave a Reply</h4>
            <p>Your email address will not be published. Required fields are marked * </p>
            <form action="">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input name="name" type="text" class="form-control" placeholder="Your Name*">
                </div>
                <div class="col-md-6 form-group">
                  <input name="email" type="text" class="form-control" placeholder="Your Email*">
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <input name="website" type="text" class="form-control" placeholder="Your Website">
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Post Comment</button>

            </form>

          </div>

        </div><!-- End blog comments -->

      </div><!-- End blog entries list -->

      <div class="col-lg-4">

        <div class="sidebar">

          <h3 class="sidebar-title">Search</h3>
          <div class="sidebar-item search-form">
            <form action="">
              <input type="text">
              <button type="submit"><i class="icofont-search"></i></button>
            </form>
          </div><!-- End sidebar search formn-->

          <h3 class="sidebar-title">Categories</h3>
          <div class="sidebar-item categories">
            <ul>
              {% for category in categories %}
              <li><a href="#">{{category}} <span>(25)</span></a></li>
              {% endfor %}
            </ul>
          </div><!-- End sidebar categories-->

          <h3 class="sidebar-title">Recent Posts</h3>
          <div class="sidebar-item recent-posts">
            {% for post in recentpost %}
            <div class="post-item clearfix">
              <img src="{{post.blogimage.url}}" alt="{{post.title}}">
              <h4><a href="{% url 'BlogDetailPage' post.link %}">{{post.title}}</a></h4>
              <time datetime="2020-01-01">{{post.published}}</time>
            </div>
            {% endfor %}

          </div><!-- End sidebar recent posts-->

          <h3 class="sidebar-title">Tags</h3>
          <div class="sidebar-item tags">
            <ul>
              <li><a href="#">App</a></li>
              <li><a href="#">IT</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Mac</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Office</a></li>
              <li><a href="#">Creative</a></li>
              <li><a href="#">Studio</a></li>
              <li><a href="#">Smart</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div><!-- End sidebar tags-->

        </div><!-- End sidebar -->

      </div><!-- End blog sidebar -->

    </div>

  </div>
</section>
{% endblock %}